@import 'colors.css';
@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', 'sans-serif';
  }
}

@layer components {
  .text-stroke-1 {
    -webkit-text-stroke: 1px black;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 2px black;
  }
  .text-stroke-3 {
    -webkit-text-stroke: 3px black;
  }
}

.content-container a {
  @apply underline-offset-2 font-title font-bold text-primary-400 text-xl lg:text-2xl tracking-wider text-stroke-1 underline;
}

.border-sketch-0 {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 15px 255px;
  border-bottom-left-radius:15px 255px;
  @apply border-2 lg:border-4 border-black;
}

.border-sketch-1 {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  @apply border-2 lg:border-4 border-black;
}

.border-sketch-2 {
  border-top-left-radius: 15px 255px; 
  border-top-right-radius: 255px 15px;
  border-bottom-right-radius: 15px 255px;
  border-bottom-left-radius:255px 15px;
  @apply border-2 lg:border-4 border-black;
}

.border-sketch-3 {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 255px 15px;
  border-bottom-right-radius: 15px 255px;
  border-bottom-left-radius:15px 255px;
  @apply border-2 lg:border-4 border-black; 
}

.border-sketch-4 {
  border-top-left-radius:  15px 255px;
  border-top-right-radius: 15px 255px;
  border-bottom-right-radius: 255px 15px; 
  border-bottom-left-radius: 255px 15px;
  @apply border-2 lg:border-4 border-black;
}
.border-sketch-5 {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 255px;
  border-bottom-right-radius: 15px 255px;
  border-bottom-left-radius:255px 15px;
  @apply border-2 lg:border-4 border-black;
}

.border-sketch-6 {
  border-top-left-radius: 15px 255px;
  border-top-right-radius: 255px 15px;
  border-bottom-right-radius: 255px 15px; 
  border-bottom-left-radius:15px 255px;
  @apply border-2 lg:border-4 border-black;
}




