<div class="w-full m-auto flex justify-center items-center">
  <h2
    class="text-center font-title text-stroke-2 sm:text-stroke-1 text-3xl md:text-4xl font-bold text-tertiary-400 tracking-wider"
  >
    <slot />
  </h2>
</div>
