---
const { id, className = "" } = Astro.props;
---

<section {id} class=`-mt-20 pt-20 lg:-mt-36 lg:pt-36 ${className}`>
  <div
    class=`content-container border-sketch-${Math.round(Math.random() * 6)} bg-secondary-300 px-8 md:px-24 py-6 md:py-8 text-md sm:text-xl`
  >
    <div class="flex flex-col gap-3 sm:gap-6">
      <slot />
    </div>
  </div>
</section>
