<div class="w-full m-auto flex justify-center items-center">
  <h2
    class="text-center font-title text-stroke-3 text-4xl md:text-5xl font-bold text-tertiary-400 tracking-wider"
  >
    <slot /> 
  </h2>
</div>