---
const { className = "" } = Astro.props;
---

<section
  class=`border-sketch-${Math.round(Math.random() * 6)} mx-6 2xl:mx-0 bg-secondary-300 font-semibold px-8 md:px-24 py-7 md:py-12 text-2xl ${className}`
>
  <div class="flex flex-col gap-3 sm:gap-6">
    <slot />
  </div>
</section>
