---
import { ContentContainer } from '@components/ContentContainer.js';

const links = [
  {
    name: 'tacomahonk@gmail.com',
    url: 'mailto:tacomahonk@gmail.com',
  },
  {
    name: 'www.instagram.com/tacomahonk',
    url: 'https://instagram.com/tacomahonk',
  },
  {
    name: 'www.instagram.com/tacomahonk',
    url: 'https://facebook.com/tacomahonk',
  },
];
---


<ContentContainer>
  <h2 class="font-title text-stroke-1 text-3xl font-bold text-tertiary-500">
    Contact Us
  </h2>
  <ul class="list-disc list-inside font-semibold  w-full">
    {{ links.map(({ name, url }: {name: string, url: string}) => 
      <li>
        <a
          class="text-primary-700 underline text-sm sm:text-xl"
          href="${url}">${name}</a>
      </li>
    ) }
  </ul>
</ContentContainer>