---
import { Image } from "astro:assets";
import tacomaHonk from "@images/TacomaHonk.png";
---

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <Image src={tacomaHonk} alt="Tacoma Honk!" class="mx-auto rounded-xl border-sketch-2 border-4 border-black" />
</div>
