<!-- <div
  class="border-[2px] rounded-full border-black border-opacity-0 opacity-100 scale-y-50"
>
  <div class="border-[2px] rounded-full border-tertiary-400 border-opacity-100">
    <div
      class="border-[4px] rounded-full border-secondary-200 border-opacity-100"
    >
      <div class="border-[2px] rounded-full border-base-400 border-opacity-100">
        <div
          class="border-[2px] rounded-full border-base2-400 border-opacity-100"
        >
          <div
            class="border-[1px] rounded-full border-primary-400 border-opacity-100"
          >
            <div
              class="border-[1px] rounded-full border-base2-400 border-opacity-100"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="flex items-center">
  <div
    class="mr-auto bg-primary-400 border-2 border-black h-7 w-7 rounded-full"
  >
  </div>

  {
    Array.from(Array(2)).map(() => (
      <div class="mx-auto bg-primary-400 border-2 border-black h-6 w-6 rounded-full opacity-80" />
    ))
  }

  {
    Array.from(Array(2)).map(() => (
      <div class="mx-auto bg-primary-400 border-2 border-black h-5 w-5 rounded-full  opacity-70" />
    ))
  }

  {
    Array.from(Array(2)).map(() => (
      <div class="mx-auto bg-primary-400 border-2 border-black h-4 w-4 rounded-full opacity-60" />
    ))
  }

  {
    Array.from(Array(2)).map(() => (
      <div class="mx-auto bg-primary-400 border-2 border-black h-5 w-5 rounded-full opacity-70" />
    ))
  }

  {
    Array.from(Array(2)).map(() => (
      <div class="mx-auto bg-primary-400 border-2 border-black h-6 w-6 rounded-full opacity-80" />
    ))
  }

  <div
    class="ml-auto bg-primary-400 border-2 border-black h-7 w-7 rounded-full"
  >
  </div>
</div>
