---
import ContentTitle from "./ContentTitle.astro";
import performing from "@data/performing.toml";
---

<section>
  <ContentTitle className="text-left">Performers</ContentTitle>
  <ul class="mt-4">
    {
      performing.bands.map((band: { name: string; location: string }) => (
        <li class="-indent-8 ml-8">
          <span>{band.name}</span> <span>&mdash;</span>
          <span>{band.location}</span>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }
</style>
