<div class="flex gap-2 xl:gap-6 items-center justify-between mt-2 flex-wrap sm:flex-nowrap mx-2">
  <slot/>
</div>
<p class="italic font-semibold text-lg text-right mr-2">
  photos by <slot name="artist-link" />
</p>