---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";

import "@styles/global.css";

const { title } = Astro.props;
---

<html lang="en" class="h-full scroll-smooth bg-base2-400 antialiased">
  <head>
    <Head title={title}>
      <slot name="head" />
    </Head>
  </head>
  <body class="pb-2">
    <header class="mb-4 lg:border-base2-400 lg:border-t-[2rem] max-w-screen-xl w-full z-20 mx-auto top-6 fixed lg:top-0 lg:sticky lg:bg-gradient-to-b from-base2-400 to-transparent">
      <div class="mx-6 2xl:mx-0 lg:shadow-lg">
        <Header />
      </div>
    </header>
    <main class="max-w-screen-xl mx-auto w-full mt-4 lg:mt-0">
      <div class="mx-6 2xl:mx-0">
        <slot />
      </div>
    </main>
    <footer class="max-w-screen-xl mt-auto mx-auto w-full">
      <div class=" 2xl:mx-0 my-12">
        <Footer />
      </div>
    </footer>
  </body>
</html>
